<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><a href="/">HOME</a></li>
    <li><a href="/about">ABOUT</a></li>
    <li><a href="/contact">CONTACT</a></li>
    <li><a href="/">ARCHIVES</a></li>
  </ul>
</nav>
<div class="jumbotron">
  <div class="container">
    <h1>Q&A</h1>
  </div>
</div>
<div class="container">
  {{outlet}}
</div>


<footer>
  <p>&copy; 2016 Message Board </p>
</footer>
